@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(Sriracha-Regular.ttf);
}

@font-face {
    font-family: letra;
    src: url(PassionOne-Black.ttf);
}

*{

    margin: 0px;
    padding: 0px;    
}
header{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}
header>h1{
    font-family: letra, Arial, Helvetica, sans-serif ;
    font-size: 9vw;
    font-variant: small-caps;
    padding-top: 20px;
}
header>p{
    padding-bottom: 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    font-family: titulo , Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 4vw;
}
main>p{
    padding-bottom: 10px;
    font-size: 4vw;
    padding-left: 20px;
    
}
div#pri{
    color: white;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.562);
}
div#seg{
    color: white;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.562);
}
div{
    background-color: gray;
    padding-top: 100px;
    padding-bottom: 100px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
}
main>p{
    padding-top: 100px;
    padding-bottom: 100px;
}
div>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.479);
    padding-left: 50px;
    font-size: 4vw;
}

