@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html{
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
}
header{
    background-color: gray;
}
header>h1{
    text-align: center;
    padding: 10px;
}
menu{
    display: block;
}
menu>ul{
    list-style-type: none;
}
menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    border: 1.9px solid rgb(78, 78, 78);
}
menu>ul>li>a:hover{
    background-color: rgb(87, 87, 87);
}
main{
    width: 90vw;
    background-color: white;
    color: black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px ;
}
article>h2{
    padding-bottom: 20px;
}

p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}