@charset "UTF-8";

/*Todas as demais mídias*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main>h1{
        text-shadow: none;
        color: black;
    }
    main{
        border: 2px solid black;
    }

    img#cel {display: none;}
    img#tab {display: none;}
    img#imp {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#cel {display: none;}
    img#tab {display: none;}
    img#imp {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    
    img#cel {display: none;}
    img#tab {display: none;}
    img#imp {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width:1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    
    img#cel {display: none;}
    img#tab {display: none;}
    img#imp {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}