@charset "UTF-8";

/*Verção mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    width: 98vw;
    height: 97vh;
}
body{
    background-color: black;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
main{
    background-color: rgba(255, 255, 255, 0.664);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.473);
    font-size: 2em;
}

img{
    display: block;
    margin: auto;
}

img#cel{
    display: block;    
}
img#tab{
    display: none;
}
img#imp{
    display: none;
}
img#pc{
    display: none;
}
img#tv{
    display: none;
}
